
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alen T Santhosh</title>
        <style>
            /* Your external CSS styles go here */
        </style>
    </head>
    <body style="margin: 0; padding: 0; box-sizing: border-box; height: 100%; background: #eee; font-family: 'Lato', sans-serif; font-weight: 400; color: #222; font-size: 14px; line-height: 26px; padding-bottom: 50px;">

        <div style="max-width: 700px; background: #fff; margin: 0px auto 0px; box-shadow: 1px 1px 2px #DAD7D7; border-radius: 3px; padding: 40px; margin-top: 50px;">
        <div style="margin-bottom: 30px;">
            <div style="font-size: 40px; text-transform: uppercase; margin-bottom: 5px;">
                <span style="font-weight: 700;"><tt>Alen T Santhosh</tt></span>
                <span></span>
        </div>

        <div style="margin-bottom: 20px;">
                <span>Email: </span>
                <span class="email-val"><tt>sreeharipradeep321@gmail.com</tt></span>
                <span style="height: 10px; display: inline-block; border-left: 2px solid #999; margin: 0px 10px;"></span>
                <span>Phone: </span>
                <span class="phone-val"><tt>9956789087</tt></span>
        </div>
        
        
        <div style="margin-bottom: 20px;">
        <a href="http://www.googlephotos.com/">
               <img src="http://www.googlephotos.com/" alt="Profile Picture" width="100" height="100">
               <!-- <img src="person.png" alt="person image" width="100" height="100"> -->
        </a>
        </div>

            
        <div style="line-height: 20px;">
            <div style="margin-bottom: 20px;">
                <div style="letter-spacing: 2px; color: #54AFE4; font-weight: bold; margin-bottom: 10px; text-transform: uppercase;">Address</div>
                <div>
                    <tt>House No 141</tt><br>
                    <tt>Kochi</tt>,&nbsp;
                    <tt>Ernakulam</tt><br>
                    <tt>Kerala</tt><br>
                    <tt>India</tt><br>
                    <tt>PIN: 646464</tt><br>
                </div>
        </div>
        
        <div style="line-height: 20px;">
            <div style="margin-bottom: 20px;">
                <div style="letter-spacing: 2px; color: #54AFE4; font-weight: bold; margin-bottom: 10px; text-transform: uppercase;">Summary</div>
                <div>
                    I am Alen T Santhosh
                </div>
        </div>

        <div style="margin-bottom: 20px;">
                <div style="letter-spacing: 2px; color: #54AFE4; font-weight: bold; margin-bottom: 10px; text-transform: uppercase;">Education</div>
                <div>
                    <tt>B.Sc</tt>&nbsp;
                    <tt>Electronics</tt><br>
                    <tt>UC College</tt><br>
                    <tt>Aluva</tt><br>
                    <tt>From: 2006-01-01</tt><br>
                    <tt>To: 2009-01-01</tt>
                </div>
            </div>

        <div style="line-height: 20px;">
            <div style="margin-bottom: 20px;">
                <div style="letter-spacing: 2px; color: #54AFE4; font-weight: bold; margin-bottom: 10px; text-transform: uppercase;">Experience</div>
                <div>
                    <tt>Organization: Job Kurian Collective</tt><br>
                    <tt>Job Role: Vocalist</tt><br>
                    <tt>Location: Ernakulam</tt><br>
                    <tt>Key Roles: Founder</tt><br>
                    <tt>From: 2015-10-10</tt><br>
                    <tt>To: 2023-12-12</tt><br>
                </div>
            </div>

            <div style="margin-bottom: 20px;">
                <div style="letter-spacing: 2px; color: #54AFE4; font-weight: bold; margin-bottom: 10px; text-transform: uppercase;">Projects</div>
                <div>
                   <tt>Title: Music album</tt><br>
                   <tt>SKills Earned: Western instruments</tt><br>
                   <tt>Description: Chart topper album</tt><br>
                </div>
            </div>

            <div style="margin-bottom: 20px;">
                <div style="letter-spacing: 2px; color: #54AFE4; font-weight: bold; margin-bottom: 10px; text-transform: uppercase;">Skills</div>
                <div>
                   <tt>Skill: Keyboard</tt><br>
                   <tt>Level: Intermediate</tt><br>
                </div>
            </div>

           
            </div>
            </div>
        </body>
        </html>
        